.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.bold.underline {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.stock-price-summary {
    padding: 30px;
    margin-left: 20px;
}

.stock-price-summary div > span:first-child {
    min-width: 80px;
}

.company-details-summary {
    padding: 20px;
}

.link {
    color: #1482f8;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    color: #1468c2;
}

highcharts-chart {
    display: block;
    width: fit-content;
    width: 100%;
}