<div class="tab-content-container">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column flex-grow-1">
            <div class="d-flex flex-column stock-price-summary">
                <div class="d-flex"><span class="bold">High Price: </span><span>{{state.getStockData()['h']}}</span></div>
                <div class="d-flex"><span class="bold">Low Price: </span><span>{{state.getStockData()['l']}}</span></div>
                <div class="d-flex"><span class="bold">Open Price: </span><span>{{state.getStockData()['o']}}</span></div>
                <div class="d-flex"><span class="bold">Prev. Close: </span><span>{{state.getStockData()['pc']}}</span></div>
            </div>
            <span class="d-flex justify-content-center"><span class="bold underline">About the company</span></span>
            <div class="d-flex flex-column company-details-summary">
                <div><span class="bold">IPO Start Date: </span><span>{{state.getStockData()['ipo']}}</span></div>
                <div><span class="bold">Webpage: </span><a href="{{state.getStockData()['weburl']}}" target="_blank">{{state.getStockData()['weburl']}}</a></div>
                <div><span class="bold">Industry: </span><span>{{state.getStockData()['finnhubIndustry']}}</span></div>
                <div><span class="bold">Company peers: </span></div>
                <div>
                    <span *ngFor="let item of state.getStockData()['peers']">
                        <span class="link" (click)="onPeerClick(item)">{{item}}{{state.getStockData()['peers'].indexOf(item)==(state.getStockData()['peers'].length-1)? '' : ','}} </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
