<div class="tab-content-container">
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column col-lg-6 col-sm-12">
            <div class="d-flex flex-column stock-price-summary">
                <div class="d-flex mt-1"><span class="bold">High Price: </span><span>{{state.getStockData()['h'].toFixed(2)}}</span></div>
                <div class="d-flex mt-1"><span class="bold">Low Price: </span><span>{{state.getStockData()['l'].toFixed(2)}}</span></div>
                <div class="d-flex mt-1"><span class="bold">Open Price: </span><span>{{state.getStockData()['o'].toFixed(2)}}</span></div>
                <div class="d-flex mt-1"><span class="bold">Prev. Close: </span><span>{{state.getStockData()['pc'].toFixed(2)}}</span></div>
            </div>
            <span class="d-flex justify-content-center"><span class="bold underline">About the company</span></span>
            <div class="d-flex flex-column company-details-summary">
                <div class="mt-3"><span class="bold">IPO Start Date: </span><span>{{state.getStockData()['ipo']}}</span></div>
                <div class="mt-3"><span class="bold">Webpage: </span><a href="{{state.getStockData()['weburl']}}" target="_blank">{{state.getStockData()['weburl']}}</a></div>
                <div class="mt-3"><span class="bold">Industry: </span><span>{{state.getStockData()['finnhubIndustry']}}</span></div>
                <div class="mt-3"><span class="bold">Company peers: </span></div>
                <div class="mt-3">
                    <span *ngFor="let item of state.getStockData()['peers']">
                        <span *ngIf="item" class="link" (click)="onPeerClick(item)">{{item}}{{state.getStockData()['peers'].indexOf(item)==(state.getStockData()['peers'].length-1)? '' : ','}} </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="summary-chart col-lg-6 col-sm-12">
            <highcharts-chart class="m-lg-3 mb-3" 
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                [(update)]="updateFlag"
                ></highcharts-chart>
        </div>
    </div>
</div>
