<ng-template #content let-modal> 
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><a href="/search/{{state.getStockData().ticker}}">{{state.modalContent.ticker}}</a></h4>
      <button type="button" class="modal-close-btn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row p-1">
                <span class="modal-field-label">Current Price: </span>
                <span>{{state.modalContent.price.toFixed(2)}}</span>
            </div>
            <div class="d-flex flex-row p-1">
                <span class="modal-field-label">Money in Wallet: </span>
                <span>${{state.getWalletAmount().toFixed(2)}}</span>
            </div>
        </div>
        <div class="d-flex flex-row p-1 align-items-center">
            <span class="modal-field-label">Quantity: </span>
            <form [formGroup]="sellForm" class="flex-grow-1">
                <input class="qty-field" type="number"
                    placeholder="Quantity"
                    matInput
                    formControlName="sellFormControl"
                    name="stockSellAmount"
                    pattern="^[0-9]+"
                    (keypress)="allowOnlyNumbers($event)"
                    required>
            </form>
        </div>
        <span *ngIf="state.readFromLocalStorage('stocks')[state.modalContent.ticker] && state.readFromLocalStorage('stocks')[state.modalContent.ticker].length<sellForm.get('sellFormControl').value" class="invalid-purchase p-1 mt-2">
            You cannot sell the stocks that you don't have!
        </span>
    </div>
    <div class="modal-footer justify-content-between">
        <div class="d-flex flex-row">
            <span class="modal-field-label">Total:</span>
            <span>{{(sellForm.get('sellFormControl').value * state.modalContent.price).toFixed(2)}}</span>
        </div>
        <button type="button" [disabled]="sellForm.get('sellFormControl').value<=0 || (state.readFromLocalStorage('stocks')[state.modalContent.ticker] && state.readFromLocalStorage('stocks')[state.modalContent.ticker].length<sellForm.get('sellFormControl').value)" class="btn btn-success" (click)="(sellStock(state.modalContent.ticker, this.sellForm.get('sellFormControl').value, (sellForm.get('sellFormControl').value * state.modalContent.price), state.modalContent.price) && modal.close('Sell clicked'));">Sell</button>
    </div>
</ng-template>   
