.news-items .image img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
}

.news-items .title {
    font-size: 15px;
    padding: 10px;
}

.news-items {
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(175, 175, 175);
    border-style: solid;
    border-width: 2px;
    width: 100%;
    cursor: pointer;
}

.news-container {
    margin-top: 20px;
}

@media all and (max-width: 768px) { 
    .news-items{ 
        flex-wrap: wrap;
        padding: 12px;
    }
    
    .news-items .image img {
        width: 100%;
    }
}