.container {
    margin: auto;
}

.container h1 {
    font-size: 30px;
}

.arrow {
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: cover;
    content: "";
}

.green .arrow {
    background-image: url('../../assets/icons/caret-up-fill.svg');
    filter: invert(22%) sepia(47%) saturate(6918%) hue-rotate(120deg) brightness(91%) contrast(102%);
}

.red .arrow {
    background-image: url('../../assets/icons/caret-down-fill.svg');
    filter: invert(9%) sepia(80%) saturate(6387%) hue-rotate(349deg) brightness(141%) contrast(119%);
}

.green {
    color: #28a745;
}

.red {
    color: red;
}

.portfolio-containers {
    background-color: white;
    border-radius: 2px;
    border: rgb(173, 173, 173);
    border-width: 1px;
    border-style: solid;
}

.gray-bg {
    background-color: rgb(247,247,247);
}

.header {
    border: none none none none;
    border-bottom: rgb(173, 173, 173);
    border-bottom-style: solid;
    border-width: 1px;
}

.footer {
    border-top: rgb(173, 173, 173);
    border-top-style: solid;
    border-width: 1px;
}

.ticker {
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    padding-right: 0px;
}

.name {
    font-size: 15px;
    font-weight: 500;
    color: rgb(172, 172, 172);
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
}

.content {
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 73, 73);
}