<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column justify-content-center social-sentiment-container"> 
            <span class="social-title">Social Sentiments</span>
            <table>
                <tr>
                    <td class="header">{{state.getStockData()['name']}}</td>
                    <td class="header">Reddit</td>
                    <td class="header">Twitter</td>
                </tr>
                <tr>
                    <td class="header">Total Mentions</td>
                    <td>{{state.getStockData().redditMentionsTotal}}</td>
                    <td>{{state.getStockData().twitterMentionsTotal}}</td>
                </tr>
                <tr>
                    <td class="header">Positive Mentions</td>
                    <td>{{state.getStockData().redditMentionsPositive}}</td>
                    <td>{{state.getStockData().twitterMentionsPositive}}</td>
                </tr>
                <tr>
                    <td class="header">Negative Mentions</td>
                    <td>{{state.getStockData().redditMentionsNegative}}</td>
                    <td>{{state.getStockData().twitterMentionsNegative}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="d-flex flex-row col-12 justify-content-between trend-charts mt-4">
        <div class="m-lg-2 m-sm-1 flex-column col-5">
            <div class="mb-2 text-center">
                <span>Recommendation Trends</span>
            </div>
            <div></div>
        </div>
        <div class="m-lg-2 m-sm-1 flex-column col-5">
            <div class="mb-2 text-center">
                <span>Historical EPS Surprises</span>
            </div>
            <div *ngIf="state.getSearchPageFlags().isEarningDataPresent"></div>
            <div *ngIf="!state.getSearchPageFlags().isEarningDataPresent" class="col-12 text-center p-5">
                No Data Present
            </div>
        </div>
    </div>
</div>
