html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(201, 201, 201, 0.863)), url('assets/images/background-graph.jpg');
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}