<div class="container-fluid">
    <div class="title">
        <h1>STOCK SEARCH</h1>
    </div>
    <div class="input-group search-box">
        <div>
            <form [formGroup]="searchForm" class="flex-grow-1">
                    <input type="text"
                        placeholder="Enter Stock Ticker Symbol"
                        matInput
                        formControlName="searchFormControl"
                        [matAutocomplete]="auto"
                        name="searchQuery"
                        pattern="^[a-zA-Z0-9].*"
                        (keydown.enter)="searchTicker(searchForm.get('searchFormControl').value.toUpperCase()); autocomplete.closePanel();"
                        required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngIf="searchForm.get('searchFormControl').value && (state.getSearchPageFlags()).isLoading">
                            <mat-spinner diameter="30"></mat-spinner>
                        </mat-option>
                        <div *ngIf="searchForm.get('searchFormControl').value && !(state.getSearchPageFlags()).isLoading">
                            <mat-option *ngFor="let item of suggestions" [value]="item['symbol']" (click)="searchTicker(item['symbol'])">
                                <span class="option-title">{{item['symbol']}}</span> | <span class="option-desc">{{item['description']}}</span>
                            </mat-option>
                        </div>
                    </mat-autocomplete>
            </form>
            <span class="search-icon" (click)="!(state.getSearchPageFlags()).isSearching && searchTicker(searchForm.get('searchFormControl').value)"></span>
            <span class="cancel-icon" (click)="!(state.getSearchPageFlags()).isSearching && searchForm.get('searchFormControl').setValue(''); !(state.getSearchPageFlags()).isSearching && resetURL()"></span>
        </div>
    </div>
    <div *ngIf="(state.getSearchPageFlags()).isSearching" class="d-flex justify-content-center mt-5">
        <mat-spinner  diameter="70"></mat-spinner>
    </div>
    <!-- Alert -->
    <ngb-alert [type]="'danger'" (closed)="closeAlert()" *ngIf="(state.getSearchPageFlags()).invalidTicker">Please enter a valid ticker</ngb-alert>
    <ngb-alert class="no-data" [type]="'danger'" [dismissible]="false" *ngIf="(state.getSearchPageFlags()).noStockData">No data found. Please enter a valid ticker</ngb-alert>
    <ngb-alert #selfClosingAlert class="add-remove-watchlist" (closed)="clearWatchlistAlert()" [type]="watchlistAlert.type" *ngIf="(state.getSearchPageFlags()).showWatchlistAlert">{{watchlistAlert.msg}}</ngb-alert>
    <ngb-alert #selfClosingAlertBuy class="add-remove-watchlist" (closed)="clearBuySellAlert()" [type]="'success'" *ngIf="(state.getSearchPageFlags()).showBuyAlert">{{state.getStockData().ticker}} bought successfully</ngb-alert>
    <ngb-alert #selfClosingAlertSell class="add-remove-watchlist" (closed)="clearBuySellAlert()" [type]="'danger'" *ngIf="(state.getSearchPageFlags()).showSellAlert">{{state.getStockData().ticker}} sold successfully</ngb-alert>
    <div *ngIf="(state.getSearchPageFlags()).resultsReady && !(state.getSearchPageFlags()).isSearching">
        <div class="d-flex flex-column col-10 m-auto">
            <div class="d-flex flex-row company-header">
                <div class="d-flex flex-column company-buy-sell col-4">
                    <div class="d-flex flex-row p-1">
                        <span class="ticker">{{state.getStockData()['ticker']}}</span><span class="star-icon" [class.selected]="(state.getSearchPageFlags()).isStarred" (click)="state.addSearchPageFlags({isStarred:!(state.getSearchPageFlags()).isStarred}); addRemoveWatchlist();"></span>
                    </div>
                    <div class="desc p-1">
                        {{state.getStockData()['name']}}
                    </div>
                    <div class="market p-1">
                        {{state.getStockData()['exchange']}}
                    </div>
                    <div class="d-flex flex-row action-buttons p-1">
                        <button type="button" class="btn btn-success mr-2" (click)="buyStockModal.open()">Buy</button>
                        <button type="button" *ngIf="state.readFromLocalStorage('stocks')!=undefined && state.readFromLocalStorage('stocks')[state.getStockData().ticker]!=undefined && state.readFromLocalStorage('stocks')[state.getStockData().ticker].length!=0" class="btn btn-danger ml-2" (click)="sellStockModal.open()">Sell</button>
                    </div>
                </div>
                <div class="d-flex col-4 justify-content-center">
                    <img class="company-logo" *ngIf="!(state.getSearchPageFlags()).logoError" src="{{state.getStockData()['logo']}}" (error)="state.addSearchPageFlags({logoError: true})"/>
                </div>
                <div class="stock-prices d-flex flex-column col-4" [class.green]="(state.getSearchPageFlags()).isProfit"  [class.red]="!(state.getSearchPageFlags()).isProfit">
                    <div class="price d-flex justify-content-end p-1 pb-2 pt-2">{{state.getStockData()['c'].toFixed(2)}}</div>
                    <div class="change d-flex flex-row justify-content-end p-1 pb-2 pt-2">
                        <span class="arrow mr-2" [class.green]="(state.getSearchPageFlags()).isProfit" [class.red]="!(state.getSearchPageFlags()).isProfit"></span>
                        <span class="change-amount">{{state.getStockData()['d']}} ({{state.getStockData()['dp']}})</span>
                    </div>
                    <div class="time d-flex justify-content-end p-1">{{currentTime}}</div>
                </div>
            </div>
            <div class="market d-flex justify-content-center">
                <div *ngIf="(state.getSearchPageFlags()).isMarketOpen" class="open">
                    Market is Open
                </div>
                <div *ngIf="!(state.getSearchPageFlags()).isMarketOpen" class="closed">
                    Market closed on {{state.getStockData()['t']}}
                </div>
            </div>
            <div class="align-self-center col-12">
                <mat-tab-group dynamicHeight mat-stretch-tabs (selectedTabChange)="changeTabListener($event)">
                    <mat-tab label="Summary"> <app-search-summary (searchTicker)="searchTicker($event)"></app-search-summary> </mat-tab>
                    <mat-tab label="Top News"> <app-search-top-news></app-search-top-news> </mat-tab>
                    <mat-tab label="Charts"> <app-search-charts></app-search-charts> </mat-tab>
                    <mat-tab label="Insights"> <app-search-insights></app-search-insights> </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<app-buy-stock-modal (showBuyAlert)="showBuyAlert($event)"></app-buy-stock-modal>
<app-sell-stock-modal (showSellAlert)="showSellAlert($event)"></app-sell-stock-modal>
