.title {
    text-align: center;
    margin-top: 40px;
}

.title h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.search-box > div {
    border-radius: 50px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(103, 20, 180);
    width: 450px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-box input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    text-transform: capitalize;
}

.search-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.spinner {
    display: flex;
    width: 100%;
}
.spinner mat-spinner {
    margin: 5px;
}

.search-box .search-icon {
    width: 15px;
    height: 15px;
    background-image: url('../../assets/icons/search.svg');
    background-position: center;
    background-size: cover;
    content: "";
    filter: invert(21%) sepia(77%) saturate(3444%) hue-rotate(264deg) brightness(68%) contrast(113%);
    margin-right: 10px;
    cursor: pointer;
}

.search-box .cancel-icon {
    width: 15px;
    height: 15px;
    background-image: url('../../assets/icons/close.svg');
    background-position: center;
    background-size: cover;
    content: "";
    filter: invert(21%) sepia(77%) saturate(3444%) hue-rotate(264deg) brightness(68%) contrast(113%);
    cursor: pointer;
}

mat-option .option-title {
    font-size: 1em;
}

mat-option .option-desc {
    font-size: 0.8em;
}

.company-header {
    margin-top: 50px;
}

.company-header .star-icon {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/star.svg');
    background-position: center;
    background-size: cover;
    content: "";
    margin-left: 10px;
    cursor: pointer;
}

.company-header .star-icon.selected {
    background-image: url('../../assets/icons/star-fill.svg');
    filter: invert(82%) sepia(54%) saturate(1801%) hue-rotate(356deg) brightness(102%) contrast(103%);
}

.company-header .company-logo {
    height: 120px;
}

.company-header .ticker {
    font-size: 30px;
    color: #413f41;
}

.company-header .desc {
    font-size: 20px;
    color: #696c71;
}

.company-header .market {
    font-weight: lighter;
}

.company-header .stock-prices .price {
    font-size: 30px;
}

.company-header .stock-prices .change {
    font-size: 20px;
}

.company-header .stock-prices .time {
    font-weight: lighter;
    color: #413f41;
}

.company-header .green {
    color: green;
}

.company-header .red {
    color: red;
}

.company-header .stock-prices .arrow {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    content: "";
}

.company-header .stock-prices .arrow.green {
    background-image: url('../../assets/icons/caret-up-fill.svg');
    filter: invert(22%) sepia(47%) saturate(6918%) hue-rotate(120deg) brightness(91%) contrast(102%);
}

.company-header .stock-prices .arrow.red {
    background-image: url('../../assets/icons/caret-down-fill.svg');
    filter: invert(9%) sepia(80%) saturate(6387%) hue-rotate(349deg) brightness(141%) contrast(119%);
}

.market .open {
    color: #28a745;
}

.market .closed {
    color: red;
}

.market {
    font-size: 15px;
    font-weight: bold;
}

mat-tab-group {
    margin-top: 50px;
}

ngb-alert {
    margin-top: 50px;
    width: 60%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

ngb-alert.no-data {
    color: #413f41;
    font-weight: normal;
}

ngb-alert.add-remove-watchlist {
    font-weight: normal;
    width: 80%;
}

